################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BedrockBank/bin/Debug
/BedrockBank/obj/Debug
/ConsoleApplication1/ConsoleApplication1/bin/Debug
/ConsoleApplication1/ConsoleApplication1/obj/Debug
